# Titulo

In [2]:
print('Hola mundo')

Hola mundo

In [5]:
nombre = 'Adrian'
nombre

'Adrian'

In [6]:
edad = 29
edad

29

In [7]:
sueldo = 1.02344
sueldo

1.02344

In [8]:
# Comentario de pyton
edad_str = '29'
sumar = int(edad_str) + edad
sumar

58

In [11]:
type(sumar)

int

In [12]:
type(edad_str)

str

In [13]:
type(sueldo)

float

In [15]:
"""
asdfghlyukjhvxcsadf
dsf
dsfd
sfds
"""

'\nasdfghlyukjhvxcsadf\ndsf\ndsfd\nsfds\n'

In [16]:
parrafo = """Este es un parrafo 
en python"""

In [17]:
parrafo

'Este es un parrafo \nen python'

In [18]:
nombre_completo = 'Sergio Wladimir Villacres Lizano'

In [19]:
nombre_completo.split(' ')

['Sergio', 'Wladimir', 'Villacres', 'Lizano']

In [20]:
"Sergio".isalpha()

True

In [21]:
print(f"Me gustan los tacos a mi {nombre_completo}")

Me gustan los tacos a mi Sergio Wladimir Villacres Lizano